In [1]:
import csv, sqlite3
import pandas as pd
import numpy as np
from sqlite3 import Error

In [2]:
con = sqlite3.connect(":memory:")
cur = con.cursor()
#create table equivalence of the data provided in the downloaded file
cur.execute("CREATE TABLE CensusT (GEO_CODE INT, GEO_LVL INT, GEO_NAME VARCHAR(255), REG_STAT VARCHAR(255), REG_STAT_IND INT, AGE_GRP VARCHAR(255), \
			 		AGE_GRP_IND INT, SEX VARCHAR(255), SEX_IND INT, INC_STAT VARCHAR(255), INC_STAT_IND INT, \
			 		INC1 DOUBLE, INC2 DOUBLE, INC3 DOUBLE, INC4 DOUBLE, INC5 DOUBLE, INC6 DOUBLE, INC7 DOUBLE, INC8 DOUBLE, INC9 DOUBLE);") # use your column names here
included_cols = [1,2,3,7,8,10,11,13,14,16,17,19,20,21,22,23,24,25,26,27]
to_db = []
with open('./DS1.csv','rt') as fin: 
    reader = csv.reader(fin, delimiter = ',')
    next(reader, None)
    # csv.DictReader uses first line in file for column headings by default
    for row in reader:
        content = tuple (row[i] for i in included_cols)
        to_db.append(content)

cur.executemany("INSERT INTO CensusT (GEO_CODE, GEO_LVL, GEO_NAME, REG_STAT, REG_STAT_IND, AGE_GRP, AGE_GRP_IND, \
    SEX, SEX_IND, INC_STAT, INC_STAT_IND, INC1, INC2, INC3, INC4, INC5, INC6, INC7, INC8, INC9)\
    VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);", to_db)
#write the following into loop for batch operation
cur.execute("ALTER TABLE CensusT ADD GEO_REG INT;")
cur.execute("UPDATE CensusT SET GEO_REG = (CASE \
            WHEN GEO_NAME IN ('Ontario','Quebec') THEN 2\
     WHEN GEO_NAME IN ('British Columbia','Alberta','Saskatchewan','Manitoba') THEN 1 \
     WHEN GEO_NAME IN ('New Brunswick','Prince Edward Island','Nova Scotia','Newfoundland and Labrador') THEN 3 \
     WHEN GEO_NAME IN ('Yukon','Northwest Territories','Nunavut') THEN 4 \
    ELSE 0 \
    END);")
con.commit()

In [14]:
cur.execute("SELECT SUM(INC2)/SUM(INC1) as AB_VAL, SUM(INC9)/SUM(INC1) as NON_AB_VAL FROM CensusT WHERE GEO_REG =1 AND REG_STAT_IND = 1 AND AGE_GRP_IND = 1 AND SEX_IND = 1 AND INC_STAT_IND = 1;")
#SUM(INC2)/SUM(INC1) as AB_VAL, SUM(INC9)/SUM(INC1) as NON_AB_VAL
rows = cur.fetchall()

# df = pd.DataFrame(columns = ['Aboraginal Identity', 'None Aboraginal Identity'], index = ['Western Canada', 'Central Canada', 'Atlantic Canada', 'Northern Canada'])
# df.iloc[0] = (1,2)
# print (type((1,2)))
# print (type(rows[0]))
for row in rows:
    print (row)

(0.07330425673361671, 0.9266968624580583)

In [6]:
# df = pd.DataFrame(columns = ['Aboraginal Identity', 'None Aboraginal Identity'], index = ['Western Canada', 'Central Canada', 'Atlantic Canada', 'Northern Canada'])
# df.iloc[0] = (1,2)
df

                Aboraginal Identity None Aboraginal Identity
Western Canada                    1                        2
Central Canada                  NaN                      NaN
Atlantic Canada                 NaN                      NaN
Northern Canada                 NaN                      NaN

In [1]:
global sex_d

In [3]:
sex_d = {'Total - Sex': 1, 'Male': 2, 'Female' : 3}
print (sex_d['Male'])

2

In [2]:
str = " AND a"
print (str[5:])

a

In [2]:
def query_exec(con, cmd_lst):
    cur = con.cursor() 
    for each in cmd_lst:
        cur.execute(each)

def data_reader(con, filename):
	cur = con.cursor()
	cur.execute(tbl_create) # use your column names here
	to_db = []
	with open(filename,'rt') as fin: 
	    reader = csv.reader(fin, delimiter = ',')
	    next(reader, None)
	    for row in reader:
	        content = tuple(row[i] for i in included_cols)
	        to_db.append(content)
	    
	# this inserts the records into the sqlite db in memory
	cur.executemany("INSERT INTO CensusT (GEO_CODE, GEO_LVL, GEO_NAME, REG_STAT, REG_STAT_IND, AGE_GRP, AGE_GRP_IND, \
	SEX, SEX_IND, INC_STAT, INC_STAT_IND, TTL_STAT DOUBLE,  AB_ID, SING_AB, FNATION, METIS, \
	INUK, MUL_AB, OS_AB, NOT_AB) VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);", to_db)

	cmd_lst = [tbl_altr,tbl_update]
	query_exec(cmd_lst)
	con.commit()
    
def init():
	global sex_d, region_d, age_d, reg_d, tbl_create, tbl_altr, tbl_update, included_cols, datafile
	sex_d = {'Total - Sex': 1, 'Male': 2, 'Female' : 3}
	region_d = {'Western Canada':1, 'Central Canada':2, 'Atlantic Canada':3, 'Northern Canada':4}
	age_d = {'Total - Age':1, '15 to 24 years':2, '25 to 64 years':3,'25 to 54 years':4, \
			'25 to 34 years':5, '35 to 44 years':6, '45 to 54 years':7, '55 to 64 years':8, '65 years and over':9}
	reg_d = {'Total - Population by Registered or Treaty Indian status':1,'Registered or Treaty Indian':2,'Not a Registered or Treaty Indian':3}
	datafile = 'DS1.csv' 
	included_cols = [1,2,3,7,8,10,11,13,14,16,17,19,20,21,22,23,24,25,26,27]
	tbl_altr = "ALTER TABLE CensusT ADD GEO_REG INT;"
	tbl_create = "CREATE TABLE CensusT (GEO_CODE INT, GEO_LVL INT, GEO_NAME VARCHAR(255), REG_STAT VARCHAR(255), REG_STAT_IND INT, AGE_GRP VARCHAR(255), \
			 		AGE_GRP_IND INT, SEX VARCHAR(255), SEX_IND INT, INC_STAT VARCHAR(255), INC_STAT_IND INT, \
			 		TTL_STAT DOUBLE,  AB_ID, SING_AB DOUBLE, FNATION DOUBLE, METIS DOUBLE, INUK DOUBLE, MUL_AB DOUBLE, OS_AB DOUBLE, NOT_AB DOUBLE);"
	tbl_update = "UPDATE CensusT SET GEO_REG = (CASE \
	            WHEN GEO_NAME IN ('Ontario','Quebec') THEN 2\
	     		WHEN GEO_NAME IN ('British Columbia','Alberta','Saskatchewan','Manitoba') THEN 1 \
	     		WHEN GEO_NAME IN ('New Brunswick','Prince Edward Island','Nova Scotia','Newfoundland and Labrador') THEN 3 \
	     		WHEN GEO_NAME IN ('Yukon','Northwest Territories','Nunavut') THEN 4 \
	    		ELSE 0 \
	    		END);"

def main():
	con = sqlite3.connect(":memory:")
	init()
	data_reader(con, datafile)
	#proc_tabular(con,'Total - Age', 'Total - Population by Registered or Treaty Indian status', 'Total - Sex', 'ProportionofPopulation.csv')

if __name__ == '__main__':
    main()

OperationalError: near "DOUBLE": syntax error

In [1]:
from flask import Flask, render_template, request
app = Flask(__name__)
app.debug = True


@app.route('/', methods=['GET'])
def dropdown():
    colours = ['Red', 'Blue', 'Black', 'Orange']
    return render_template('index.html', colours=colours)

if __name__ == "__main__":
    app.run()

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
 * Restarting with stat

SystemExit: 1

/Users/bodong/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2870: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)