In [1]:
sex_d = {'Total - Sex': 1, 'Male': 2, 'Female' : 3}
region_d = {'Western Canada':1, 'Central Canada':2, 'Atlantic Canada':3, 'Northern Canada':4}
age_d = {'Total - Age':1, '15 to 24 years':2, '25 to 64 years':3,'25 to 54 years':4, \
        '25 to 34 years':5, '35 to 44 years':6, '45 to 54 years':7, '55 to 64 years':8, '65 years and over':9}
reg_d = {'Total - Population by Registered or Treaty Indian status':1,'Registered or Treaty Indian':2,'Not a Registered or Treaty Indian':3}
inc_d = {'Total - Income statistics':1, 'Average total income ($)':5}

datafile = 'DS1.csv' 
datafile2 = 'DS2.csv'
included_cols = [1,2,3,7,8,10,11,13,14,16,17,19,20,21,22,23,24,25,26,27]
included_cols2 = [1,2,3,7,8,10,11,13,14,16,17,19,20,22]
sel_pp1 = "SELECT ROUND(SUM(AB_ID) / SUM(TTL_STAT),2) as AB_VAL, ROUND(SUM(NOT_AB)/SUM(TTL_STAT),2) as NON_AB_VAL FROM CensusT "
sel_pp2 = "SELECT AB_ID, NOT_AB FROM CensusT "
tbl_altr = "ALTER TABLE CensusT ADD GEO_REG INT;"
tbl_create = "CREATE TABLE CensusT (GEO_CODE INT, GEO_LVL INT, GEO_NAME VARCHAR(255), REG_STAT VARCHAR(255), REG_STAT_IND INT, AGE_GRP VARCHAR(255), \
                AGE_GRP_IND INT, SEX VARCHAR(255), SEX_IND INT, INC_STAT VARCHAR(255), INC_STAT_IND INT, \
                TTL_STAT DOUBLE,  AB_ID DOUBLE, SING_AB DOUBLE, FNATION DOUBLE, METIS DOUBLE, INUK DOUBLE, MUL_AB DOUBLE, OS_AB DOUBLE, NOT_AB DOUBLE);"
tbl_create2 = "CREATE TABLE CensusT2 (GEO_CODE INT, GEO_LVL INT, GEO_NAME VARCHAR(255), HOUSE VARCHAR(255), HOUSE_IND INT, AGE_GRP VARCHAR(255), \
                AGE_GRP_IND INT, SEX VARCHAR(255), SEX_IND INT, ERNR VARCHAR(255), ERNR_IND INT, INC_STAT VARCHAR(255), INC_STAT_IND INT, INC2015 INT);"
insert1 = "INSERT INTO CensusT (GEO_CODE, GEO_LVL, GEO_NAME, REG_STAT, REG_STAT_IND, AGE_GRP, AGE_GRP_IND, \
            SEX, SEX_IND, INC_STAT, INC_STAT_IND, TTL_STAT,  AB_ID, SING_AB, FNATION, METIS, \
            INUK, MUL_AB, OS_AB, NOT_AB) VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);"
insert2 = "INSERT INTO CensusT2 (GEO_CODE, GEO_LVL, GEO_NAME, HOUSE,  HOUSE_IND, AGE_GRP, AGE_GRP_IND, \
            SEX, SEX_IND, ERNR, ERNR_IND, INC_STAT, INC_STAT_IND, INC2015) VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?);"
tbl_update = "UPDATE CensusT SET GEO_REG = (CASE \
            WHEN GEO_NAME IN ('Ontario','Quebec') THEN 2\
            WHEN GEO_NAME IN ('British Columbia','Alberta','Saskatchewan','Manitoba') THEN 1 \
            WHEN GEO_NAME IN ('New Brunswick','Prince Edward Island','Nova Scotia','Newfoundland and Labrador') THEN 3 \
            WHEN GEO_NAME IN ('Yukon','Northwest Territories','Nunavut') THEN 4 \
            ELSE 0 END);"

In [8]:
import sqlite3
import pandas, csv
con = sqlite3.connect(":memory:")
cur = con.cursor()
def data_reader(con, filename, tbl_clause, incl_cols, insert_clause):
	#creating table and prepare for the filenames
	cur = con.cursor()
	cur.execute(tbl_clause) 
	to_db = []
	with open(filename,'rt') as fin: 
	    reader = csv.reader(fin, delimiter = ',')
	    next(reader, None)
	    for row in reader:
	        content = tuple(row[i] for i in incl_cols)
	        to_db.append(content)
	    
	# this inserts the records into the sqlite db in memory
	cur.executemany(insert_clause, to_db)
	#update tasks
	con.commit()
def query_exec(con, cmd_lst):
    cur = con.cursor() 
    for each in cmd_lst:
        cur.execute(each)

In [9]:
data_reader(con, datafile, tbl_create,included_cols,insert1)
cmd_lst = [tbl_altr,tbl_update]
query_exec(con, cmd_lst)
data_reader(con, datafile2, tbl_create2,included_cols2,insert2)
con.commit()

OperationalError: table CensusT has no column named HOUSE